* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(247, 245, 247);
}

.heading {
  display: flex;
  justify-content: space-between;
  color: rgb(119, 119, 125);
  align-items: center;
  margin-top: 20px;
  padding: 20px 65px 20px 20px;
  border-bottom: 1px solid #ecebec;
}

.taskContainer {
  display: grid;
  grid-template-columns: 50px auto 50px;
  padding: 24px;
  gap: 10px;
  color: #9f9e9f;
  border-top: 1px solid #ecebec;
  border-bottom: 1px solid #ecebec;
}

.add-form {
  padding: 20px;
  border: none;
}
#addIcon{
  cursor: pointer;
}

.icon {
  display: flex;
  align-items: center;
  margin-left: 36px;

}

form {
  display: grid;
  grid-template-columns: auto 50px;
  width: 90%;
  align-items: center;
}

.ad-form {
  display: grid;
  grid-template-columns: auto auto;
  color: rgb(119, 119, 125);
  border-top: 1px solid #ecebec;
  margin-top: 20px;
}

.todo-page {
  background-color: #f7f5f7;
  width: 658px;
  margin: auto;
}

.l-todo {
  background-color: rgb(255, 255, 255);
  border: 1px solid #ecebec;
  margin-top: 40px;
}

.clearBtn {
  border: none;
  margin: auto;
  padding: 24px;
  width: 100%;
}
